.btmmenu__wrapper {
  min-width: 100vw;
  background-color: gray;
  font-family: "Source Code Pro";
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
  box-sizing: border-box;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: center; /* center */
  align-items: center;
  list-style: none;
  width: 100vw;
  min-height: 60px;
  overflow: hidden;
}

.menu__item {
  color: white;
  font-weight: bold;
  margin: 0 2rem 0 2rem;
  cursor: pointer;
}

.menu__item:hover {
  color: rgb(163, 7, 7);
  font-weight: 100;
}

/* #arm {
  margin-left: 15px;
  margin-top: 15px;
} */

.icon__space {
  padding-right: 4px;
}

@media only screen and (min-width: 18.75em) and (max-width: 46em) {
  .menu__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 16px;
    justify-items: center;
    align-items: center;
    min-width: 100vw;
    margin: 0 auto 0 auto;
  }
  /* .menu__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 16px;
    justify-items: center;
  }*/
  .icon__space {
    padding-right: 2px;
  }
  .menu__item {
    margin: 0 0.7rem 0 0.7rem;
    font-size: 1rem;
    padding: 5px 0 5px 0;
  }
  .remodel {
    display: none;
  }
}

/* @media only screen and (min-width: 720px) and (max-width: 874px) {
  .menu__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    width: 100%;
  }

  .menu__item {
    margin: 0 0.5rem 0 0.5rem;
    font-size: 17px;
  }
  .remodel {
    display: none;
  }
} */
