.primary__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__wrapper {
  margin-bottom: 0px;
  background-color: rgba(211, 211, 211, 0.663);
  padding: 1rem 0 1rem 0;
  color: #ffd700;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  overflow: hidden;
}

.logo {
  font-family: "Cascadia Mono";
  color: rgb(112, 87, 23);
  margin-left: 1.6rem;
}

.logo__name {
  font-size: 19px;
  font-style: italic;
  color: rgb(152, 111, 8);
  text-decoration: underline;
}

.nav__item {
  margin: 0 2rem 0 1rem;
  font-size: 15px;
  color: rgb(112, 87, 23);
  cursor: pointer;
}

.nav__hover:hover {
  color: #cd7324e3;
  font-size: inherit;
  /* background-color: burlywood; */
}

.active {
  color: rgba(255, 136, 0, 0.997);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.quote {
  /* margin-left: 1rem; */
  font-size: 15px;
  color: rgb(152, 111, 8);
}

.free {
  font-weight: 600;
  font-size: 1rem;
  color: rgb(112, 87, 23);
  font-family: "Droid Sans Mono", sans-serif;
  margin-right: 1rem;
}

@media only screen and (max-width: 50em) {
  .navbar__list {
    display: none;
  }
  .logo {
    margin: 0 auto 0 auto;
    font-size: 22px;
  }
  .logo__name {
    font-size: 27px;
  }
}
