.nav__wrapper {
  background-color: rgba(211, 211, 211, 0.663);
  color: #ffd700;
  min-width: 100%;
  padding: 1.2rem 0 1.2rem 0;
  box-sizing: border-box;
}

.primary__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 6rem;
  list-style: none;
  overflow: hidden;
  /* min-width: 100%; */
  /* margin: 0 3rem 0 auto; */
}

.nav__item {
  margin: 0 0.8rem 0 0.8rem;
  font-size: 16px;
  color: rgb(112, 87, 23);
  cursor: pointer;
  position: relative;
}

.logo {
  font-family: "Cascadia Mono";
  color: rgb(112, 87, 23);
  margin-left: 3rem;
}

.logo__name {
  font-size: 19px;
  font-style: italic;
  color: rgb(152, 111, 8);
  text-decoration: underline;
}

.nav__hover:hover {
  color: #cd7324e3;
  font-size: 15px;
  border: 1px red solid;
  padding: 2px 1px;
}

.active {
  color: rgba(255, 136, 0, 0.997);
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.quote {
  /* margin-left: 1rem; */
  font-size: 0.9375rem;
  color: rgb(152, 111, 8);
}

.free {
  font-weight: 600;
  font-size: 1rem;
  color: rgb(112, 87, 23);
  font-family: "Droid Sans Mono", sans-serif;
  margin-right: 1rem;
}

@media only screen and (min-width: 47em) and (max-width: 51em) {
  .primary__nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
  }
  .navbar__list {
    margin: 0 auto 0 auto;
    background-color: #e5e5e5;
    width: 100vw;
    padding: 17px 14px 17px 5px;
  }
  .nav__item {
    font-size: 15px;
    margin: 0 0.7rem 0 0.5rem;
  }
  .logo {
    margin: 0 auto 0 auto;
    font-size: 22px;
  }
  .logo__name {
    font-size: 27px;
    text-align: center;
  }
}

@media only screen and (min-width: 18.75em) and (max-width: 46em) {
  .primary__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .navbar__list {
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin: 0 auto 0 auto; */
  }

  .nav__item {
    font-size: 14px;
    margin: 0 2px 0 2px;
  }
  .logo {
    margin-left: 1px;
  }
  .logo__name {
    font-size: 16px;
  }
}
