.drawer__wrapper {
  min-height: 100vh;
  padding: 0 10px 0 10px;
}

.nav {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 400px;
  z-index: 20000;
  transform: translateX(-100);
  /* transform: translateX; */
  /* transition: transform 0.5s ease-out; */
}

.icon__react {
  margin-right: 22px;
}

.open {
  transform: translateX(0);
}

.list {
  list-style: none;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  line-height: 24px;
  position: relative;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 25px;
  padding-bottom: 35px;
  row-gap: 15px;
}

.list__item {
  font-size: 16px;
  padding: 5px 9px;
}

.list__item:hover {
  background-color: lightgray;
}

.close {
  transform: translateX(-100);
  font-size: 22px;
  top: 5px;
  left: 5px;
  color: black;
}

.line {
  min-width: 100%;
}
