.about {
  /* background-color: #f8f8ff; */
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5rem;
}

.top__header {
  font-size: 48px;
  color: #3b120e;
  text-align: center;
  font-family: "Cardo", serif;
  margin: 3rem 0 2.4rem 0;
  font-weight: 300;
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  color: #4c4c4c;
  text-indent: 20px;
  line-height: 1.6;
  font-family: var(--font-roboto);
  font-size: 20px;
}

.item:first-of-type:first-letter {
  font-weight: bolder;
  color: rgb(141, 18, 18);
  font-size: 25px;
  font-style: italic;
}

/* .item::first-letter {
  font-weight: bolder;
  color: rgb(141, 18, 18);
  font-size: 25px;
  font-style: italic;
} */

.boss {
  text-decoration: underline;
}
