.about {
  background-color: #f8f8ff;
}

.top__header {
  font-size: 36px;
  color: #3b120e;
  text-align: center;
  font-family: "Cardo", serif;
  margin: 2rem 0 2.2rem 0;
  font-weight: 300;
}

.content {
  display: flex;
}

.item {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: #4c4c4c;
  text-indent: 20px;
  line-height: 1.6;
  font-family: "Lato", sans-serif;
}
