.about {
  /* background-color: #f8f8ff; */
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.top__header {
  font-size: 48px;
  color: #3b120e;
  text-align: center;
  font-family: var(--font-roboto);
  margin: 3rem 0 4rem 0;
  font-weight: 300;
  border-bottom: 2px black solid;
  /* text-decoration: underline; */
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 70%;
  /* border: 1px red solid; */
}

.item {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: #4c4c4c;
  text-indent: 20px;
  line-height: 1.6;
  font-family: var(--font-roboto);
  font-size: 21px;
}

.item:first-of-type:first-letter {
  font-weight: bolder;
  color: rgb(141, 18, 18);
  font-size: 25px;
  font-style: italic;
  padding-right: 2px;
}

/* .item::first-letter {
  font-weight: bolder;
  color: rgb(141, 18, 18);
  font-size: 25px;
  font-style: italic;
} */

.boss {
  text-decoration: underline;
}

@media only screen and (min-width: 18.75em) and (max-width: 46em) {
  .top__header {
    font-size: 38px;
  }

  .item {
    font-size: 1rem;
  }
  .content {
    min-width: 90%;
  }
}
