.contact {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex: 1;
}

.wrapper {
  font-family: var(--font-roboto);
}

.header {
  font-size: 48px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: var(--font-roboto);
  border-bottom: 2px black solid;
  color: #3b120e;
  font-weight: 300;
}

.content {
  text-align: center;
}

.phone {
  /* text-align: left; */
}
.phoneNum {
  margin-left: 15px;
  display: inline-block;
  font-weight: bolder;
}

.emailTxt {
  margin-top: 10px;
}
.email {
  margin-left: 5px;
  display: inline-block;
  font-weight: bolder;
}

.emailIcon {
  margin-right: 5px;
}

.phoneIcon {
  margin-right: 5px;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .header {
    font-size: 30px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
