.primary__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__wrapper {
  margin-bottom: 0px;
  background-color: rgba(211, 211, 211, 0.663);
  padding: 1rem 1rem 1rem 1rem;
}
